.footer {
    background-color:#f8e808;
    text-align: center;
    padding: 8px;
    justify-content: center;
  }

  /*probando map y extend placeholder(variables)*/
  $redes: (
  facebook: rgb(0, 162, 255),
  instagram: rgb(199, 119, 70),
  whatsapp: rgb(81, 190, 38),
 );

 @each $redsocial, $color in $redes {
  .fa-#{$redsocial} {
    background-color: $color;
  }
}

.fa-facebook, .fa-whatsapp, .fa-instagram {
  @extend %iconitos;
}


  



