
    .container-fluid {
        a {
            transition: all 1s;
         }
         .navbar-brand:hover {
            transform: scale(1.1);
          }
         
          .navbar-nav a:hover {
            text-decoration: underline double; 
          }

    }

    
      

    






 
        



    

    


    
      

       

    
      











